/target/
/ci/target/
docs/sphinx/build/
docs/sphinx/.venv/

# wasm-pack build output
/caelum-wasm/pkg/
/caelum-wasm/www/node_modules/
/caelum-wasm/e2e/node_modules/
/caelum-wasm/e2e/package-lock.json
